body{
font-family: 'Dancing Script', cursive;
font-size: 30px;
}

header {
border-radius: 10px 10px 0px 0px;
background-color: #5b7989;
display: flex;
flex-flow: row wrap;
text-shadow: 2px color #02010a;
color: white;
}

header nav a
{
color: white;
}

nav {
padding-left: 40%;
}

article {
       display: flex;
       flex-flow: row wrap;
       background-color: #82c3a6;
}

.contenido{
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;

    }
}

footer {
    border-radius: 0px 0px 10px 10px;
    background-color: #C6d5c5;
    columns: 4;
}

#fotos2{
    background-color:  #82c3a6;
}

#fotos2{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.f1 {
    background-color:  #82c3a6;
    margin: 0 auto;
    text-align: center;
}

.f2 {
    text-align: center;
}

.f3 {
    text-align: center;
}

#foto2:hover{
    transform: rotate(10deg);
    text-shadow: 2px 2px 2px #82c3a6;
}

#foto3:hover {
text-shadow: 2px 2px 2px #82c3a6;
-webkit-transform: translate(20px, -5px);
}

#fotos{
width: 100%;
}

#foto1 {
width: 50%
}

#foto2 {
width: 60%;
}

#foto3{
width: 60%;
}


@media all and (max-width: 900px) {
	.f1 {
		width: 100%;
	}
	.f2 {
		width: 100%;
	}
	.f3 {
		width: 100%;
    }
	#fotos2 {
    flex-direction: column;
    }
    .c1 {
    width: 100%;
    }
    .c2 {
    width: 100%;
    }
    .c3 {
    width: 100%;
    }
    .c4 {
    width: 100%;
    }

    #cc{
    width:100%;
    }

    footer
    {
    text-align: center;
    columns: 1;
    font-size: 100%;
    }

    header
    {
    text-align: center;
    width: 100%;
    display:flex; flex-direction:column;
    justify-content: center;
    }
}
